<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Hotel Primavera | Usuarios</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
        <a class="navbar-brand" href="#">Hotel Primavera</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" th:href="@{/reservacrud/}">Reservas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/estadohabitacion/}">Estados de Habitaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/tipohabitacion/}">Tipos de Habitaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/habitacioncrud/}">Habitaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/tipousuario/}">Tipos de Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/usuario/}">Usuarios</a>
            </li>          
          </ul>  
          <a class="btn btn-primary" href="#">Mi Perfil</a>&nbsp;
          <a class="btn btn-danger" th:href="@{/login}">Cerrar Sesión</a>
        </div>
      </nav>
    </header>

    <main role="main">
    	<hr>
      <div class="container-fluid"> 
        <h2 class="font-weight-bold text-center text-capitalize">Nueva Habitación</h2>
        <hr>
        <div class="row">
        	<div class="container mt-3">
        		<form th:action="@{/habitacioncrud/guardar/{id}(id=${habitacion.idHabitacion})}" th:object="${habitacion}" method="post">
				  <div class="form-group">
				    <label for="nombre">Nombre</label>
				    <input type="text" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Ingrese el nombre de la habitación" th:field="*{nombreHabitacion}" required>
				  </div>
				  <div class="form-group">
				    <label for="piso">Piso</label>
				    <input type="text" class="form-control" id="piso" aria-describedby="piso" placeholder="Ingrese el piso en el que esta la habitacion" th:field="*{pisoHabitacion}" required>
				  </div>
				  <div class="form-group">
				    <label for="capacidad">Capacidad</label>
				    <input type="text" class="form-control" id="capacidad" aria-describedby="precio" placeholder="Ingrese la capacidad de la habitacion" th:field="*{capacidadHabitacion}" required min="1" step="1">
				  </div>
				  <div class="form-group">
				    <label for="name">Descripcion</label>
				    <input type="text" class="form-control" id="descripcion" aria-describedby="descripcion" placeholder="Ingrese la descripcion habitación" th:field="*{descripcionHabitacion}" required>
				  </div>
				  <div class="form-group">
				    <label for="tipohabitacion">Tipo de habitacion</label>
				    <select th:field="*{idTipoHabitacion}" class="form-control" id="tipohabitacion" required>
				    	<th:block th:each="tipohabitacion : ${tipohabitacion}">
				    		<option th:text="${tipohabitacion.tipoHabitacion}" th:value="${tipohabitacion.idTipoHabitacion}"></option>
				    	</th:block>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="estadohabitacion">Estado de habitacion</label>
				    <select th:field="*{idEstadoHabitacion}" class="form-control" id="estadohabitacion" required>
				    	<th:block th:each="estadohabitacion : ${estadohabitacion}">
				    		<option th:text="${estadohabitacion.estadoHabitacion}" th:value="${estadohabitacion.idEstadoHabitacion}"></option>
				    	</th:block>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="precio">Precio</label>
				    <input type="text" class="form-control" id="precio" aria-describedby="precio" placeholder="Ingrese el precio por dia de la habitacion" th:field="*{precioHabitacion}" required min="1" step="1">
				  </div>
				  <button class="btn btn-success">Agregar</button>
				  <button type="reset" class="btn btn-danger">Cancelar</button>
				</form>
			</div>
        	</div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
      <p>Hotel Primavera</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
