<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Hotel Primavera | El Mejor Lugar Para Descansar</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
        <a class="navbar-brand" href="#">Hotel Primavera</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
        
          </ul>  
          <a class="btn btn-primary" href="register">Registrarse</a>&nbsp;
          <a class="btn btn-danger" href="login">Iniciar Sesión</a>
        </div>
      </nav>
    </header>

    <main role="main">
    	<hr>
      <div class="container-fluid">
        <div class="row">
        	<div class="col-md-3 text-center">
        	<h2>Filtros</h2>
				<form>
	        		<div class="form-row">
						  <div class="form-group col-md-6">
			        		<label for="startDate">Desde</label>
							<input id="startDate" class="form-control" type="date" />
						  </div>
						  <div class="form-group col-md-6">
			        		<label for="endDate">Hasta</label>
							<input id="endDate" class="form-control" type="date" />
						  </div>
						  <div class="form-group col-md-12">
								<label for="floor">Piso</label>
						      	<select id="floor" class="form-control">
						        	<option selected>Seleccione el piso en el que desea su habitación</option>
						        	<option>Primer</option>
						        	<option>Segundo</option>
						        	<option>Tercer</option>
						      	</select>
						  </div>
						  <div class="form-group col-md-12">
			        		<label for="capacity">Cantidad de personas</label>
							<input id="capacity" class="form-control" type="text" />
						  </div>
						  <div class="form-group col-md-12">
			        		<label for="type">Tipo de Habitación</label>
						      	<select id="type" class="form-control">
						        	<option selected>Seleccione el tipo de habitación que desea</option>
						        	<option>Suite</option>
						        	<option>Jr. Suite</option>
						        	<option>Gran Suite</option>
						      	</select>
						  </div>
						  <div class="form-group col-md-6">
			        		<label for="price-minus">Precio desde</label>
							<input id="price-minus" class="form-control" type="text" />
						  </div>
						  <div class="form-group col-md-6">
			        		<label for="price-mayor">Precio hasta</label>
							<input id="price-mayor" class="form-control" type="text" />
						  </div>
						  <div class="form-group col-sm-12 col-md-12">
						  	<a class="btn btn-info" href="room-list">Buscar</a>	
						  </div>
					</div>
				</form>
        	</div>
        	<div class="col-md-9">
        		<div class="list-group">
				  <a href="room-detail" class="list-group-item list-group-item-action">
				    <div class="d-flex w-100 justify-content-between">
				        <h5 class="mb-1">Habitación #14</h5>
				    	<small class="text-muted">Precio: $15 por día</small>
				    </div>
				      <small class="text-muted">Suite - Capacidad de: 3 personas - Segundo Piso</small>
				      <p>El Hotel Los Farallones está situado frente a la playa, en una playa privada de La Libertad, y ofrece jardines tropicales, piscina infinita privada y solárium con hamacas y vistas al mar.</p>
				  </a>
				<a href="room-detail" class="list-group-item list-group-item-action">
				    <div class="d-flex w-100 justify-content-between">
				        <h5 class="mb-1">Habitación #15</h5>
				    	<small class="text-muted">Precio: $15 por día</small>
				    </div>
				      <small class="text-muted">Suite - Capacidad de: 4 personas - Segundo Piso</small>
				      <p>El Hotel Los Farallones está situado frente a la playa, en una playa privada de La Libertad, y ofrece jardines tropicales, piscina infinita privada y solárium con hamacas y vistas al mar.</p>
				  </a>
				  <a href="room-detail" class="list-group-item list-group-item-action">
				    <div class="d-flex w-100 justify-content-between">
				        <h5 class="mb-1">Habitación #35</h5>
				    	<small class="text-muted">Precio: $30 por día</small>
				    </div>
				      <small class="text-muted">Gran Suite - Capacidad de: 2 personas - Tercer Piso</small>
				      <p>El Hotel Los Farallones está situado frente a la playa, en una playa privada de La Libertad, y ofrece jardines tropicales, piscina infinita privada y solárium con hamacas y vistas al mar.</p>
				  </a>
				</div>
        	</div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
      <p>Hotel Primavera</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-  datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  </body>
</html>
